<!DOCTYPE html>
<html ng-app="FairApp">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/materialize.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        
        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Univas - Feira</title>

    </head>
    <body ng-controller="FairController">
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Feira Tecnológica</a>
            </div>
        </nav>
        
        <div class="row">
            <div class="col s12 m12">
                <img src="img/logo.jpg" class="responsive-img center-block" />
            </div>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s12">
                        <p class="flow-text">Informe os dados abaixo e escolha quais foram as tendas que você mais gostou:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" ng-model="email">
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="age" type="number" class="validate" ng-model="age">
                        <label for="age">Idade</label>
                    </div>
                </div>    
            </form>
        </div>
        
        <div id="courses">
            <div ng-repeat="course in courses">
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card-panel teal">
                            <div class="options">
                                <input type="checkbox" id="course-{{$index}}" ng-value="{{course.value}}" class="filled-in" />
                                <label for="course-{{$index}}"><span class="white-text flow-text">{{course.label}}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer">
            <div class="col s12">
                <p class="flow-text">Qualquer dúvida, comentário, sugestão, procure o stand do curso de Sistemas de Informação!</p>
            </div>
        </div>

        <div class="fixed-action-btn horizontal" ng-click="sendData()">
            <a class="btn-floating btn-large red" >
                <i class="material-icons right">Save</i>
            </a>
        </div>

        <div id="mydiv" style="display:none;">
            <img src="img/ajax-loader.gif" class="ajax-loader"/>
        </div>
        
    </body>
</html>